extends layout.pug

block link
	-var selected = "Buchen";

append content
	h3.text-muted Buchungsanfrage senden
	if message !== undefined
		if message 
			.alert.alert-success(role='alert')
				h4.alert-heading Erfolgreich abgesendet
				p.mb-0 Ihre Anfrage wurde erfolgreich gesendet, wir melden uns bei Ihnen! Vielen Dank!
		else
			.alert.alert-danger(role='alert')
				h4.alert-heading Fehler beim Absenden
				p.mb-0 Bitte überprüfen Sie Ihre Eingaben!
	.card.card-body
		form.form-horizontal(method="post")
			fieldset
				.form-group
					label.control-label.requiredField(for="name") Name
					input#name.form-control(name="name", placeholder="Ihr Name", type="text" required)
				.form-group
					label.control-label.requiredField(for="email") E-Mail
					input#email.form-control(name="email", placeholder="Ihre E-Mail Adresse", type="email" required)
				.form-row
					.form-group.col-md-6
						label.control-label.requiredField(for="anreise") Gewünschte Anreise
						input#anreise.form-control.date(name="anreise", placeholder="Tag.Monat.Jahr", type="date" required)
					.form-group.col-md-6
						label.control-label.requiredField(for="abreise") Gewünschte Abreise
						input#abreise.form-control(name="abreise", placeholder="Tag.Monat.Jahr", type="date" required)
				.form-row
					.form-group.col-md-6
						label.control-label.requiredField(for="personen") Anzahl der Personen
						select#personen.select.form-control(name="personen")
							option(value="1") 1 Person
							- for (let i = 2; i <= 6; i++ )
								option(value=i) #{i} Personen
					.form-group.col-md-6
						label.control-label.requiredField(for="zimmer") Welches Zimmer bevorzugen Sie?
						select#zimmer.select.form-control(name="zimmer")
							option(value="Zimmer Herrenberg") Zimmer Herrenberg
							option(value="Zimmer Bockstein") Zimmer Bockstein
							option(value="Zimmer Geisberg") Zimmer Geisberg
				.form-group
					label.control-label.requiredField(for="message") Nachricht
					textarea#message.form-control(cols="40", name="message", placeholder="Ihre Nachricht", rows="10")
				.form-group
					label.control-label(for='captcha') Captcha
					script(src="//www.google.com/recaptcha/api.js" async defer)
					#captcha.g-recaptcha(data-sitekey="6LdhA1YUAAAAAAkfDJrJ4rYREXUxqi9Ewgpl9LHe" aria-describedby="captchaHelp")
					small#captchaHelp.form-text.text-muted Bitte bestätige, dass du ein Mensch bist.
				.form-group
					button.btn.btn-success.btn-block(name="submit", type="submit") Anfrage absenden
