extends layout.pug

block link
	-var selected = 'Anmelden';

append content
	if (!loggedin.loggedin)
		.card.card-body
			form.form-horizontal(method="post")
				.form-group.col-md-12
					label.control-label(for='name') Name
					input#name.form-control.input-md(name='name', type='text', placeholder='Anmeldename', required)
				.form-group.col-md-12
					label.control-label(for='password') Passwort
					input#password.form-control.input-md(name='password', type='password', placeholder='Ihr Passwort', required)
				.form-group.col-md-12
					label.control-label(for='captcha') Captcha
					script(src="//www.google.com/recaptcha/api.js" async defer)
					#captcha.g-recaptcha(data-sitekey="6LdhA1YUAAAAAAkfDJrJ4rYREXUxqi9Ewgpl9LHe" aria-describedby="captchaHelp")
					small#captchaHelp.form-text.text-muted Bitte bestätige, dass du ein Mensch bist.
				.form-group.col-md-12
					label.control-label(for='submit')
					button#submit.btn.btn-success.btn-block(name='submit') Anmelden
	else
		.alert.alert-success.alert-dismissible.fade.show(role="alert") Eingeloggt als 
			strong #{loggedin.username}
			| !		
			button.close(type='button', data-dismiss='alert', aria-label='Close')
				span(aria-hidden='true') ×
		.card.card-body
			.card-block
				a(href="/intern/guestbook/1") Gästebuch verwalten
		.top1.clearfix
			a.btn.btn-primary.btn-md.float-left(href="mailto:dev@marc-hein.de") Admin kontaktieren
			a.btn.btn-danger.btn-md.float-right(href="/logout") Abmelden