extends layout.pug

block link
	-var selected = 'Buchen';

append content
	p 
		strong Auf dieser Seite finden derzeit Wartungsarbeiten statt. 
		br
		| Bitte versuchen Sie es später erneut.
		br 
		| Vielen Dank!