extends layout.pug

block link
	-var selected = 'Zimmer';

append content
	.card
		.card-block
			.row
				.col-md-12.col-lg-4.my-auto
					h4 Zimmer 1 Herrenberg
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer1/zimmer_1_herrenberg_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer1/zimmer_1_herrenberg_1.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer1/zimmer_1_herrenberg_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer1/zimmer_1_herrenberg_2.jpg").img-fluid.img-thumbnail
				
	.card.top3
		.card-block
			.row
				.col-md-6.col-lg-12.my-auto
					h4 Zimmer 2 Bockstein
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer2/zimmer_2_bockstein_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer2/zimmer_2_bockstein_1_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer2/zimmer_2_bockstein_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer2/zimmer_2_bockstein_2_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer2/zimmer_2_bockstein_3.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer2/zimmer_2_bockstein_3_thumb.jpg").img-fluid.img-thumbnail
	
	.card.top3
		.card-block
			.row
				.col-md-6.col-lg-12.my-auto
					h4 Zimmer 3 Geisberg
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer3/zimmer_3_geisberg_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer3/zimmer_3_geisberg_1_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer3/zimmer_3_geisberg_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer3/zimmer_3_geisberg_2_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/zimmer3/zimmer_3_geisberg_3.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/zimmer3/zimmer_3_geisberg_3_thumb.jpg").img-fluid.img-thumbnail
	
	.card.top3
		.card-block
			.row
				.col-md-12.col-lg-4.my-auto
					h4 Frühstücksraum
					p In unserem Frühstücksraum erwartet Sie ein abwechslungsreiches, reichhaltiges Frühstücks Buffet.
				.col-md-6.col-lg-4
					a(href="static/assets/fruehstueck/fruehstuecks_raum_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/fruehstueck/fruehstuecks_raum_1_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/fruehstueck/fruehstuecks_raum_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/fruehstueck/fruehstuecks_raum_2_thumb.jpg").img-fluid.img-thumbnail

	.card.top3
		.card-block
			.row
				.col-md-12.col-lg-4.my-auto
					h4 Terrasse
					p Unsere blumenreiche Terrasse mit vorhandenem Grill ist der passende Ort zum Entspannen. Grillabende sind möglich! 
				.col-md-6.col-lg-4
					a(href="static/assets/terrasse/terrasse_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/terrasse/terrasse_1_thumb.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4
					a(href="static/assets/terrasse/terrasse_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/terrasse/terrasse_2_thumb.jpg").img-fluid.img-thumbnail
		
	.card.top3
		strong Sie haben Ihr Traum-Zimmer gefunden?
		p Dann können Sie nun ganz bequem und komfortabel online ihre Buchungsanfrage stellen.
		a.btn.btn-success.btn-md(href='/buchen') Jetzt Ihren Aufenthalt buchen
