extends layout.pug

block link
	-var selected = 'Zimmer';

append content
	.card.card-body
		.card-block
			.row
				.col-md-12.my-auto
					h4 Zimmer Herrenberg 
						small.text-muted (3-Bett Zimmer)
				.col-md-4
					a(href="static/assets/rooms/zimmer1/fullsize/zimmer_1_herrenberg_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer1/thumb/zimmer_1_herrenberg_1.jpg").img-fluid.img-thumbnail
				.col-md-4.mt-3.mt-md-0
					a(href="static/assets/rooms/zimmer1/fullsize/zimmer_1_herrenberg_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer1/thumb/zimmer_1_herrenberg_2.jpg").img-fluid.img-thumbnail
				
	.card.top3.card-body
		.card-block
			.row
				.col-md-12.my-auto
					h4 Zimmer Bockstein 
						small.text-muted (2-Bett Zimmer)
				.col-md-4
					a(href="static/assets/rooms/zimmer2/fullsize/zimmer_2_bockstein_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer2/thumb/zimmer_2_bockstein_1.jpg").img-fluid.img-thumbnail
				.col-md-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/zimmer2/fullsize/zimmer_2_bockstein_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer2/thumb/zimmer_2_bockstein_2.jpg").img-fluid.img-thumbnail
				.col-md-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/zimmer2/fullsize/zimmer_2_bockstein_3.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer2/thumb/zimmer_2_bockstein_3.jpg").img-fluid.img-thumbnail
	
	.card.top3.card-body
		.card-block
			.row
				.col-md-12.my-auto
					h4 Zimmer Geisberg 
						small.text-muted (3-Bett Zimmer)
				.col-md-4
					a(href="static/assets/rooms/zimmer3/fullsize/zimmer_3_geisberg_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer3/thumb/zimmer_3_geisberg_1.jpg").img-fluid.img-thumbnail
				.col-md-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/zimmer3/fullsize/zimmer_3_geisberg_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer3/thumb/zimmer_3_geisberg_2.jpg").img-fluid.img-thumbnail
				.col-md-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/zimmer3/fullsize/zimmer_3_geisberg_3.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/zimmer3/thumb/zimmer_3_geisberg_3.jpg").img-fluid.img-thumbnail
	
	.card.top3.card-body
		.card-block
			.row
				.col-md-12.col-lg-4.my-auto
					h4 Frühstücksraum
					p In unserem Frühstücksraum erwartet Sie ein abwechslungsreiches, reichhaltiges Frühstücks Buffet.
				.col-md-6.col-lg-4
					a(href="static/assets/rooms/fruehstueck/fullsize/fruehstuecks_raum_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/fruehstueck/thumb/fruehstuecks_raum_1.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/fruehstueck/fullsize/fruehstuecks_raum_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/fruehstueck/thumb/fruehstuecks_raum_2.jpg").img-fluid.img-thumbnail

	.card.top3.card-body
		.card-block
			.row
				.col-md-12.col-lg-4.my-auto
					h4 Terrasse
					p Unsere blumenreiche Terrasse ist der passende Ort zur Entspannung und Erholung bei einem gutem Glas Wein.
				.col-md-6.col-lg-4
					a(href="static/assets/rooms/terrasse/fullsize/terrasse_1.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/terrasse/thumb/terrasse_1.jpg").img-fluid.img-thumbnail
				.col-md-6.col-lg-4.mt-3.mt-sm-3.mt-md-0
					a(href="static/assets/rooms/terrasse/fullsize/terrasse_2.jpg" data-toggle="lightbox" data-title="Pension Biewer")
							img(src="static/assets/rooms/terrasse/thumb/terrasse_2.jpg").img-fluid.img-thumbnail
		
	.card.top3.card-body
		strong Sie haben Ihr Traum-Zimmer gefunden?
		p Dann können Sie nun ganz bequem und komfortabel online ihre Buchungsanfrage stellen.
		a.btn.btn-success.btn-md(href='/buchen') Senden Sie uns jetzt Ihre Buchunganfrage
