.row.my-3
		.col-12.col-xl-6
			a.btn.btn-primary.btn-lg.btn-block.mb-3.mb-xl-0(href='tel:+49 6581 40 43') Buchunganfrage <strong>per Telefon</strong>
		.col-12.col-xl-6
			a.btn.btn-primary.btn-lg.btn-block(href='mailto:kontakt@pension-biewer.de') Buchunganfrage <strong>per E-Mail</strong>
