main.container {
    padding-top: 20px;
}

.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.card {
    padding: 2%;
}

.footer {
    padding-top:15px;
}

.mynav {
    background-image: url("../assets/nav.jpg");
    background-size: 100% auto;                   /* <------ */
    background-repeat: no-repeat;
    background-position: center, top;
    height: 350px;
}

.navbar {
    z-index: 99999;
    background-color: rgba(0,0,0,0.4);
    .navbar-brand {
        font-size: 1.3em;
    }
}

@media (max-width: 1920px) {
    .mynav {
        background-position: 0px -150px;   
    }
}

@media (max-width: 1800px) {
    .mynav {
        background-position: 0px -120px;   
    }
}

@media (max-width: 1600px) {
    .mynav {
        background-position: 0px -90px;   
    }
}

@media (max-width: 1300px) {
    .mynav {
        background-position: 0px -60px;   
    }
}

@media (max-width: 1000px) {
    .mynav {
        background-position: 0px -30px;   
        height: 250px;
    }
}

@media (max-width: 768px) {
    .mynav {
        background-position: 0px 0px;   
        height: 250px;
    }

    .navbar {
        background-color: rgba(0,0,0,0.7);
    }
}

@media (max-width: 650px) {
    .mynav {
        height: 200px;
        background-position: 0px 20px;   
    }

    .navbar {
        background-color: #343a40!important;
    }
}

@media (max-width: 500px) {
    .mynav {
        height: 200px;
        background-position: 0px 50px;   
    }
}