main.container {
    padding-top: 80px;
}

.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.card {
    padding: 2%;
}

.footer {
    padding-top:15px;
  }